
h1{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: flex;
    flex-direction: column;
    width: 12em;
    margin-bottom: 1em;
    font-weight: 800;
    text-align: center;
}

form label input{
    margin-top:.5em;
}

form input[type="submit"]{
    width: 12em;
    margin: 0 auto;
}